ul.cards
    each item in dataOfPosts
        li
            div.cards__item
                div.cards__item__about-user
                    div.cards__item__about-user--image=item.userImg
                    a.cards__item__about-user--name=item.username
                    a.cards__item__about-user--car=item.userCar
                div.cards__item__mini-review
                    a.cards__item__mini-review__text
                button(class="cards__item__see-more")="читать"
