.cards {
  display: flex;
  list-style: none;
  margin-top: 3rem;
  &__element{

    margin-right: 5rem;
    background: #FFFFFF;
    border-radius: 5px;
  }

  &__item {
    &__about-user{
      &--image{

      }

      &--name{

      }
      &--car{

      }

    }

    &__mini-review{

      &__text{
        overflow: hidden;
      }
    }
    &__see-more{

    }
  }
}