-
    locals.dataOfPosts = [
        {
            id: 1,
            username: 'Константин Константинопольский',
            //userImg:  "url('./userimage.png')",
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: `Хотел бы выразить огромную благодарность за курс! \n\nВсе настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в силы. \n\nЗамечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. \n\nМинусом лично для меня стал лишь хостинг видео. \n\nРекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме`,
            whatsApp: '#',
            videoReview: '#'
        },
        {
            id: 2,
            username: 'Константин Константинопольский',
            //userImg: "url('./userimage.png')",
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: `Хотел бы выразить огромную благодарность за курс! \n\nВсе настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в свои силы. \n\nЗамечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. \n\nМинусом лично для меня стал лишь хостинг видео. \n\nРекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме`,
            whatsApp: '#',
            videoReview: '#'
        },
        {
            id: 3,
            username: 'Константин Константинопольский',
            //userImg: "url('./userimage.png')",
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: `Хотел бы выразить огромную благодарность за курс! \n\nВсе настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в свои силы. \n\nЗамечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. \n\nМинусом лично для меня стал лишь хостинг видео. \n\nРекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме`,
            whatsApp: '#',
            videoReview: '#'
        },
        {
            id: 4,
            username: 'Константин Константинопольский',
            //userImg: "url('./userimage.png')",
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: `Хотел бы выразить огромную благодарность за курс! \n\nВсе настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в свои силы. \n\nЗамечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. \n\nМинусом лично для меня стал лишь хостинг видео. \n\nРекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме`,
            whatsApp: '#',
            videoReview: '#'
        },
        {
            id: 5,
            username: 'Константин Константинопольский',
            //userImg: "url('./userimage.png')",
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: `Хотел бы выразить огромную благодарность за курс! \n\nВсе настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в свои силы. \n\nЗамечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. \n\nМинусом лично для меня стал лишь хостинг видео. \n\nРекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме`,
            whatsApp: '#',
            videoReview: '#'
        },
        {
            id: 6,
            username: 'Константин Константинопольский',
            //userImg: "url('./userimage.png')",
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: `Хотел бы выразить огромную благодарность за курс! \n\nВсе настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в свои силы. \n\nЗамечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. \n\nМинусом лично для меня стал лишь хостинг видео. \n\nРекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме`,
            whatsApp: '#',
            videoReview: '#'
        }
    ];

