-
    locals.dataOfPosts = [
        {
            username: 'Константин Константинопольский',
            userImg:  './userimage.png',
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: 'Хотел бы выразить огромную благодарность за курс! Все настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в силы. Замечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. Минусом лично для меня стал лишь хостинг видео. Рекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме',
            whatsApp: '#',
            videoReview: '#'
        },
        {
            username: 'Константин Константинопольский',
            userImg: './userimage.png',
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: 'Хотел бы выразить огромную благодарность за курс! Все настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в силы. Замечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. Минусом лично для меня стал лишь хостинг видео. Рекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме',
            whatsApp: '#',
            videoReview: '#'
        },
        {
            username: 'Константин Константинопольский',
            userImg: './userimage.png',
            userCar: 'BMW X5 2018 BLACK EDITION',
            review: 'Хотел бы выразить огромную благодарность за курс! Все настолько хорошо продумано, настолько удивительно легко подается информация, что воспринимать и усваивать ее абсолютно не сложно. Благодаря вам я поверила в силы. Замечательный индивидуальный подход к разбору дз, видно, что учителю дорог каждый студент. Минусом лично для меня стал лишь хостинг видео. Рекомендую не сомневаться при выборе этого курса, но имейте ввиду, что учиться вы будете каждый день! Вопросы можно задать в телеграме',
            whatsApp: '#',
            videoReview: '#'
        }
    ];

