doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Comatible" content="ie=edge")
        style
            include index.scss
        title Шестой экран

        body
            h1.title Несколько отзывов о нас
            main